html {
    background: rgba(0, 128, 128, 0.8);
}

body {
    color: white;
	font-family: "Archer SSm A", "Archer SSm B", Avenir, sans-serif;
	font-weight: 500;
}

a {
	color: white;
}

header {
	font-size: x-large;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

header h1 a {
	text-decoration: none;
}

main {
	text-align: center;
}

img#allison-and-smokey {
	border-radius: 0.5em;
    margin: auto;
    width: 400px;
}

footer {
	text-align: center;
}
