link(rel="shortcut icon" href="images/favicon.png")
link(rel="apple-touch-icon-precomposed" href="images/favicon.png" title="Site Favicon")
link(rel="mask-icon" href="images/tooth.svg" color="#1BBDC3" title="Safari Pinned Tabs Icon")
