nav
	ul
		li: a(href="/" rel=index title="Homepage") Home
		li: a(href="about.html" title="About Page") About
		li: a(href="staff.html" title="Meet the Staff") Staff
		li: a(href="links.html" title="Page with Links, like it's 1992 all over again.") Links
		li: a(href="location.html" title="Information about our location") Location
