nav
	ul
		li: a(href="/" rel=index title="Homepage") Home
		li: a(href="about" title="About Page") About
		li: a(href="staff" title="Meet the Staff") Staff
		li: a(href="links" title="Page with Links, like it's 1992 all over again.") Links
		li: a(href="location" title="Information about our location") Location
