link(rel="shortcut icon" href="/img/favicon.png")
link(rel="apple-touch-icon-precomposed" href="/img/favicon.png" title="Site Favicon")
link(rel="mask-icon" href="/img/tooth.svg" color="#587676" title="Safari Pinned Tabs Icon")
