doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title About Dr. Allison Craig
		meta(name="description" content="Learn more about Dr. Allison Craig")
		include partials/favicons.jade

		// Open Graph and Twitter Cards
		meta(property="og:locale" content="en_US")
		meta(property="og:site_name" content="Allison Craig, DDS")
		meta(property="og:type" content="website")
		meta(property="og:title" content="About Dr. Allison Craig")
		meta(property="og:description" content="Learn more about Dr. Allison Craig.")
		meta(property="og:image" content="/img/favicon.png")
		meta(name="twitter:site" content="@allisoncraigdds")
		meta(name="twitter:creator" content="@allisoncraigdds")
		meta(name="twitter:title" content="About Dr. Allison Craig")
		meta(name="twitter:card" content="summary")
		meta(name="twitter:description" content="Learn more about Dr. Allison Craig.")
		meta(name="twitter:image" content="/img/favicon.png")

		// Stylesheets
		include partials/stylesheets

		// Google Analytics
		include partials/google-analytics
		
	body.fade
		.content-container
			include partials/header

			include partials/nav

			main.main
				h2 About the Doctor
				.image-text-container
					img.profile-pic(src="/img/hiking.jpg" alt="Picture of Allison's family farm in North Dakota")
					div.profile-text
						p Dr. Allison Craig has roots in North Dakota. Her grandparents started a family farm near Forbes, and her grandmother still owns property there.
						p After graduating from 
							a(href="https://dentistry.llu.edu" title="Loma Linda University School of Dentistry") Loma Linda University School of Dentistry
							|, Dr. Craig completed an 
							a(href="https://en.wikipedia.org/wiki/Postgraduate_training_in_general_dentistry_in_the_United_States" title="Wikipedia entry for Advanced Education in General Dentistry") Advanced Education in General Dentistry (AEGD) 
							| through NYU Lutheran Dental Medicine.

		include partials/footer.jade
