doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Dr. Allison Craig
		meta(name="description" content="Are you ready for Dr. Allison Craig to take care of you? Call today!")
		meta(name="keywords" content="dentistry, doctor, teeth, tooth pain, dental implants, crowns")
		include partials/favicons

		// Open Graph and Twitter Cards
		meta(property="og:locale" content="en_US")
		meta(property="og:site_name" content="Allison Craig, DDS")
		meta(property="og:type" content="website")
		meta(property="og:title" content="Allison Craig, DDS")
		meta(property="og:description" content="Are you ready for Dr. Allison Craig to take care of you? Call today!")
		meta(property="og:image"  content="/img/favicon.png")
		meta(name="twitter:site" content="@allisoncraigdds")
		meta(name="twitter:creator"  content="@allisoncraigdds")
		meta(name="twitter:title" content="Allison Craig, DDS")
		meta(name="twitter:card" content="summary")
		meta(name="twitter:description" content="Are you ready for Dr. Allison Craig to take care of you? Call today!")
		meta(name="twitter:image"  content="/img/favicon.png")

		// Stylesheets
		include partials/stylesheets

		// Google Analytics
		include partials/google-analytics

		body
			include partials/header
			include partials/nav

			main
				h3 Hello
				p Welcome to Bismarck Family Dental! We hope you find our website helpful. Please do not hesitate to call us if you have any questions. We would also love to meet you in person, so feel free to stop by!

			include partials/footer
