doctype html
html(lang="en").toni
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Dr. Allison Craig
		meta(name="description" content="Are you ready for Dr. Allison Craig to take care of you? Call today!")
		include partials/favicons

		// Open Graph and Twitter Cards
		meta(property="og:locale" content="en_US")
		meta(property="og:site_name" content="Allison Craig, DDS")
		meta(property="og:type" content="website")
		meta(property="og:title" content="Allison Craig, DDS")
		meta(property="og:description" content="Are you ready for Dr. Allison Craig to take care of you? Call today!")
		meta(property="og:image"  content="/img/favicon.png")
		meta(name="twitter:site" content="@allisoncraigdds")
		meta(name="twitter:creator"  content="@allisoncraigdds")
		meta(name="twitter:title" content="Allison Craig, DDS")
		meta(name="twitter:card" content="summary")
		meta(name="twitter:description" content="Are you ready for Dr. Allison Craig to take care of you? Call today!")
		meta(name="twitter:image"  content="/img/favicon.png")

		// Stylesheets
		include partials/stylesheets

		// Google Analytics
		include partials/google-analytics

	body.fade
		.content-container
			include partials/header

			include partials/nav

			main.main
				h3 Greetings
				.image-text-container
					img.profile-pic(src="/img/allison.jpg" alt="Picture of Dr. Allison Craig")
					div.profile-text
						p Welcome to my dental website! I hope it helps you learn a little bit about my practice. Also, I hope it helps you to get in touch.

		include partials/footer
