doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Dental Services by Dr. Allison Craig
		meta(name="description" content="Learn about the services provided by Dr. Allison Craig")
		include partials/favicons.jade

		// Open Graph and Twitter Cards
		meta(property="og:locale" content="en_US")
		meta(property="og:site_name" content="Allison Craig, DDS")
		meta(property="og:type" content="website")
		meta(property="og:title" content="Learn about the services provided by Dr. Allison Craig")
		meta(property="og:description" content="Learn about the services provided by Dr. Allison Craig.")
		meta(property="og:image" content="/img/favicon.png")
		meta(name="twitter:site" content="@allisoncraigdds")
		meta(name="twitter:creator" content="@allisoncraigdds")
		meta(name="twitter:title" content="Learn about the services provided by Dr. Allison Craig")
		meta(name="twitter:card" content="summary")
		meta(name="twitter:description" content="Learn about the services provided by Dr. Allison Craig.")
		meta(name="twitter:image" content="/img/favicon.png")

		// Stylesheets
		include partials/stylesheets

		// Google Analytics
		include partials/google-analytics
		
	body.fade
		.content-container
			include partials/header

			include partials/nav

			main.main
				h2 Services
				ul
					li Cleanings
					li Fillings
					li Crowns/Bridges
					li Implants
					li Extractions
					li Dentures
					li ... and much more

		include partials/footer.jade
