doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Meet the Staff
		meta(name="description" content="Meet the wonderful staff here at the dental practice!")
		meta(name="keywords" content="dentistry, doctor, teeth, tooth pain, dental implants, crowns")
		include partials/favicons

		// Open Graph and Twitter Cards
		meta(property="og:locale" content="en_US")
		meta(property="og:site_name" content="Allison Craig, DDS")
		meta(property="og:type" content="website")
		meta(property="og:title" content="Meet the Staff")
		meta(property="og:description" content="Meet the wonderful staff here at the dental practice!")
		meta(property="og:image" content="/img/favicon.png")
		meta(name="twitter:site" content="@allisoncraigdds")
		meta(name="twitter:creator" content="@allisoncraigdds")
		meta(name="twitter:title" content="Meet the Staff")
		meta(name="twitter:card" content="summary")
		meta(name="twitter:description" content="Meet the wonderful staff here at the dental practice!")
		meta(name="twitter:image" content="/img/favicon.png")

		// Stylesheets
		include partials/stylesheets

		// Google Analytics
		include partials/google-analytics
	
	body
		include partials/header
		include partials/nav
		
		main
			h2 Our Staff
			h3 The Dentist, Dr. Allison Craig
			.image-text-container
				img(src="/img/dentist.jpg" title="Picture of Dr. Allison Craig" alt="Picture of Dr. Allison Craig")
				p Dr. Craig graduated from Loma Linda University, whose mission is “To Make Man Whole”. She has lived up to this motto by volunteering in many free dental clinics since entering the dental profession. Dr. Craig also volunteers at an animal shelter on the weekends. She enjoys spending time with her husband and her dog. She also loves macro photography and design.

			h3 Dental Hygeinist, Avry Comm
			.image-text-container
				img(src="/img/hyg.png" title="Picture of Avry" alt="Picture of Avry")
				p Avry loves helping her patients attain better oral hygiene. She takes the time to identify where a patient needs to work on their oral hygiene, but is very efficient. In her spare time, she likes painting and spending time with her friends.

			h3 Office Manager, Smokalufagus J. Timbers
			.image-text-container
				img(src="/img/om.jpg" title="Picture of Smokey" alt="Picture of Smokey")
				p "Smokey"&mdash;as he likes to be called&mdash;loves meeting and getting to know new patients, and being a part of the lives of our established patients. Give him a call to schedule your first appointment with us.

			h3 Back Office Assistant, Toni Craig
			.image-text-container
				img(src="/img/bo1.jpg" title="Picture of Toni" alt="Picture of Toni")
				p Toni has seven years experience in the dental field and has a passion for patient care. He is efficient and always gets the job done right. In his spare time he enjoys web design and blogging.

			h3 Back Office Assistant, Austin Comm
			.image-text-container
				img(src="/img/bo2.JPG" title="Picture of Austin" alt="Picture of Austin")
				p Austin has a passion for being organized and efficient. He loves entertaining patients. In his spare time, he enjoys playing music and going on hikes.

		include partials/footer
