=border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius: $radius
	-ms-border-radius: $radius
	border-radius: $radius

=transition($transition)
	-webkit-transition: $transition
	-moz-transition: $transition
	-o-transition: $transition
	transition: $transition

html
	background: rgba(27, 189, 195, 0.50)
	padding: 5vw 0
	text-size-adjust: 100%

body
	background: white
	border: 0.75em solid rgba(27, 189, 195, 1)
	+border-radius(0.5em)
	color: rgb(78, 78, 78)
	font-family: "Archer SSm A", "Archer SSm B", "Avenir", sans-serif
	font-size: 1.1em
	font-weight: 300
	line-height: 1.6
	margin: auto
	max-width: 750px

	> *:not(footer)
		margin-left: auto
		margin-right: auto
		width: 90%

a
	color: rgba(221, 121, 0, 0.75)
	text-decoration: none
	+transition(all 0.2s ease-in-out)

main
	margin: 3em auto

h2
	font-weight: 700

// Remove border when inside `a` element in IE 8/9/10
img
	border: 0

small
	font-size: 80%

// Prevent `sub` and `sup` affecting `line-height` in all browsers
sub, sup
	font-size: 75%
	line-height: 0
	position: relative
	vertical-align: baseline
