$coral: lighten(coral, 2%)
$lightteal: rgba(27, 189, 195, 0.50)
$teal: rgba(27, 189, 195, 1)
$bodytext: rgb(78, 78, 78)

html
  background: linear-gradient($lightteal, $teal)
  text-size-adjust: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  min-height: 100vh

body
  background: white
  box-shadow: 0px 5px 10px rgba(0,0,0,0.05)
  border-radius: 1em
  color: $bodytext
  font-family: "Archer SSm A", "Archer SSm B", "Avenir Next", sans-serif
  font-size: 1.1em
  font-weight: 600
  line-height: 1.6
  max-width: 700px
  width: 90%

.content-container
  // box-sizing: border-box
  border-radius: 1em
  padding: 3em

a
  color: $coral
  text-decoration: none
  transition: all 0.2s ease-in-out

.main
  margin: 3em auto

h2
  font-weight: 700

// Remove border when inside `a` element in IE 8/9/10
img
  border: 0

small
  font-size: 80%

// Prevent `sub` and `sup` affecting `line-height` in all browsers
sub, sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline
