.footer
  border-bottom-right-radius: $radius
  border-bottom-left-radius: $radius
  // Don't touch this, stupid
  overflow: hidden
  text-align: center
  background: url("/img/banner.jpeg") $yellow
    size: cover
    // repeat: repeat-y
    position: center center
  min-height: 15vh
  display: flex
  align-items: center
  justify-content: center

.copyright
  color: white
  background: $teal
  border-radius: $radius
  font-size: 60%
  padding: 0.75em 1.5em
  transition: all 300ms ease-in-out

  &:hover, &:focus
    color: $teal
    background: white
