.siteheader
	border-bottom: 0.2em solid rgba(128, 128, 128, 0.25)
	text-align: center
	display: flex
	align-items: center
	justify-content: center
	min-height: 150px

.sitetitle
	line-height: 1.3
	font-family: "Archer Heavyweight A", "Archer Heavyweight B", "Avenir Next"
	margin-top: 0

	a
		display: flex
		align-items: center
		justify-content: center

.sitelogo
	margin-right: 0.5em
	width: 2em
	// vertical-align: -1.9rem

.sitewordmark
	font-size: 1.55em
	font-weight: 800
