.siteheader
  border-bottom: 0.2em dotted rgba(128, 128, 128, 0.25)
  text-align: center
  display: flex
  align-items: center
  justify-content: center
  min-height: 150px

.sitetitle
  line-height: 1.3
  font-family: "Archer Heavyweight A", "Archer Heavyweight B", "Avenir Next"
  margin-top: 0

  a
    display: flex
    align-items: center
    justify-content: center

.sitelogo
  margin-right: 0.5em
  width: 2em

.sitewordmark
  font-size: 1.5em
  font-weight: 800
  // I guess technically just WebKit, but the MDN pages shows everything but ancient IE? https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-text-stroke-width#Browser_compatibility
  @supports (-webkit-text-stroke-width: 0.035em)
    -webkit-text-stroke-width: 0.035em
    -webkit-text-stroke-color: darken($yellow, 7.5%)
    letter-spacing: 0.025em