@media (max-width: 740px)
  body
    border-radius: 0
    box-shadow: none
    width: 100%

  .content-container
    display: flex
    flex-direction: column
    padding: 2em

  .siteheader
    order: 1

  .sitetitle
    a
      flex-direction: column

  .sitelogo
    margin: auto auto 0.5em auto

  h2
    text-align: center

  .main
    order: 2
    width: 100%

  .nav
    border-top: 0.2em dotted rgba(128, 128, 128, 0.25)
    order: 3
    margin-bottom: 3em

  .nav-item
    // I'm not sure which is better---this or just the flex-direction set to column on the nav ul
    width: 100%
    padding: 0.5em 0

  .image-container
    flex-direction: column

  .image-item
    margin: 1em auto
    width: 100%
    height: auto

  a
    word-break: break-word

  .footer
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0