.nav
	border-bottom: 0.2em solid rgba(128, 128, 128, 0.25)
	padding: 0.5em 0 0.5em 0
	margin: auto

.nav-items
	display: flex
	flex-flow: row wrap
	justify-content: space-around
	list-style: none
	margin: 0
	padding: 0

.nav-item
	font-size: 90%
	padding: 0.5em
	width: 5.75em
	text-align: center

	a
		background-color: $coral
		border-radius: 1em

		// Cribbed from Eli Schiff (http://static1.squarespace.com/static/sitecss/54bb4cfce4b045585ada36f7/804/50521cf884aeb45fa5cfdb80/54c80b38e4b0d312f4d819b7/867-05142015/1450359800347/site.css?&filterFeatures=false)
		box-shadow: inset 0px -1px 1px 0px rgba(105, 105, 105, 0.5), inset 0px 0px 0px 1px rgba(0, 0, 0, 0), 0px 1px 1px 0px rgba(0, 0, 0, 0.18)

		color: white
		display: block
		padding: 0.25em 0.75em 0.25em 0.75em

		&:hover, &:focus
			background-color: darken($coral, 5%)

		&:active
			background-color: darken($coral, 20%)
			box-shadow: none
