doctype
html(lang="en").toni
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title About Dr. Allison Craig
    meta(name="description" content="Learn more about Dr. Allison Craig")
    include partials/favicons

    // Open Graph and Twitter Cards
    meta(property="og:locale" content="en_US")
    meta(property="og:site_name" content="Allison Craig, DDS")
    meta(property="og:type" content="website")
    meta(property="og:title" content="About Dr. Allison Craig")
    meta(property="og:description" content="Learn more about Dr. Allison Craig.")
    meta(property="og:image" content="/img/favicon.png")
    meta(name="twitter:site" content="@allisoncraigdds")
    meta(name="twitter:creator" content="@allisoncraigdds")
    meta(name="twitter:title" content="About Dr. Allison Craig")
    meta(name="twitter:card" content="summary")
    meta(name="twitter:description" content="Learn more about Dr. Allison Craig.")
    meta(name="twitter:image" content="/img/favicon.png")

    // Stylesheets
    include partials/stylesheets

    // Google Analytics
    include partials/google-analytics
    
  body.fade
    .content-container
      include partials/header

      include partials/nav

      main.main
        h2 About Dr. Craig
        .text-container
          .image-container
            img.image-item(src="/img/vegetation.jpeg" alt="Macro shot of some vegetation")
            img.image-item(src="/img/flowers.jpg" alt="Illustration of a flower" title="Allison made this!")
          p In her spare time, Dr. Craig enjoys photography and design

        .text-container
          .image-container
            img.image-item(src="/img/family.jpeg" alt="Picture of Dr. Craig's family" title="You have no idea how long it took to get Smokey to sit still for this picture")
            img.image-item(src="/img/ears.jpeg" alt="Picture of a deer we saw in Wyoming" title="Isn't he cute?")
          p She also likes to get out into nature with her husband, Anthony, and their German Shepherd Dog mix, Smokey
          

    include partials/footer
