nav.nav
	ul.nav-list
		li.nav-item: a(href="/" rel=index title="Homepage") Home
		li.nav-item: a(href="/about" title="About page") About
		li.nav-item: a(href="/services" title="Dental services I provide") Services
		li.nav-item: a(href="/contact" title="Get in touch") Contact
